/* Font Import */

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Lora&family=Poppins:wght@300;400&family=Roboto:wght@100;300;400;500;700&display=swap');

:root{
    --primary-color:#c84630;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto' , sans-serif;
    line-height: 1.4;
}
a{
    text-decoration: none;
}
p{
    margin: .75rem 0;
}
ul{
    list-style: none;
}
.container{
    max-width: 1100px;
    margin: 0 auto;
}
.text-center{
    text-align: center;
}
.text-primary{
    color: var(--primary-color);
}
.bg-light{
    background-color: #fff;
    color: #333;
}
.bg-dark{
    background-color: #333;
    color: #fff;
}
.bg-primary{
    background-color: var(--primary-color);
    color: #fff;
}
/* NAVBAR */

#navbar{
    background-color: #333;
    color: #fff;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}
#navbar ul{
    display: flex;
    align-items: center;
}
#navbar ul li{
    margin: 0 .25rem;
}
#navbar ul li a{
    color: #fff;
    padding: .75rem;
    border-radius:5px;
    transition: background-color .3s;
}
#navbar ul li a:hover{
    background-color: var(--primary-color);
}
.logo{
    max-height: 45px;
}
/* Project based general styling */
.l-heading{
    font-size:4rem;
    margin-bottom: 1rem;
    line-height: 1.1;
}
.lead{
    font-size: 1.3rem;
    margin-bottom: .8rem;
    line-height: 1.1;
}
.btn{
    display: inline-block;
    color: #fff;
    font-size: 1rem;
    background: var(--primary-color);
    padding: .5rem 2rem;
    border-radius: 5px;
    border: none;
    transition: background .3s;
}
.btn:hover{
    background: rgb(145, 63, 48);
    cursor: pointer;
}
#showcase{
    background: #333 url("../images/showcase.jpg") no-repeat center center;
    background-size: cover;
    height: 100vh;
    color: #fff;
}
.showcase-content{
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
